* {
    font-family: 'Courier New', Courier, monospace;
}

.navigation {
    display: inline-block;
    border: solid 2px #646d78;
    border-radius: 20px;
    padding: 8px;
    width: 30%;
    text-align: center;
}

li a {
    text-decoration: none;
}

.navigation:hover {
    background-color: #bf9000;
}

li a:active{
    font-weight: bold;
    color: black;
}

h1 {
    text-align: center;
    margin: 10% auto;
}
h2 {
    margin-top: 80px;
}

h2, p {
    margin-left: 15px;
}

/* table */

table {
    margin: 30px auto;
    text-align: center;
}

td {
    border: solid 1px black;
    height: 60px;
    width: 200px;
}

.colors {
    font-weight: bold;
}

#green {
    background-color: #407138;
}

#pink {
    background-color: #ec98b2;
}

#blue {
    background-color: #267688;
}

#purple {
    background-color: #6d0b8e;
}

#orange {
    background-color: #bd7423;
}

#gray {
    background-color: #646d78;
}

#mustard {
    background-color: #bf9000;
}

/* Fonts */

div {
    border: solid 1px black;
    padding: 20px;
    width: 500px;
    margin: 30px auto;
}

div:hover {
    width: 540px;
}

h3 {
    margin-bottom: 30px;
    font-size: 20px;
}

.roboto * {
    font-family: 'Roboto Slab', serif;
}

.montserrat * {
    font-family: 'Montserrat', sans-serif;
}

.mono * {
    font-family: 'IBM Plex Mono', monospace;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    font-weight: 700;
}

h5 {
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    font-weight: 500;
}

h6 {
    font-family: 'Roboto Slab', serif;
    font-size: 14px;
    font-weight: 400;
}

